auth:
  type: 'jwt-jwk'
  jwkUrl: 'https://login.vb3d.de/realms/VB3D-Dev/protocol/openid-connect/certs'
uac:
  type: 'static'
  users:
    - user_id: '86f01463-2952-4a7c-8d81-094561d110f0'
      permissions:
        - manage_images

images:
  presets:
    - alias: small
      width: 256
      height: 256
      algorithm: contain
      conversion: on_demand
      cached: true
    - alias: medium
      width: 512
      height: 512
      algorithm: contain
      conversion: on_demand
      cached: true
    - alias: large
      width: 1024
      height: 1024
      algorithm: contain
      conversion: on_demand
      cached: true
    - alias: xlarge
      width: 2048
      height: 2048
      algorithm: contain
      conversion: on_demand
      cached: true
    - alias: xxlarge
      width: 4096
      height: 4096
      algorithm: contain
      conversion: on_demand
      cached: true

database:
  type: sqlite
  database: ./example-data/database.sqlite3

#database:
#  type: cockroachdb
#  host: '10.0.4.13'
#  username: dev_image-server
#  password: '123456'
#  database: dev_image-server
#  ssl:
#    rejectUnauthorized: false
#    ca:
#      path: ./config/certs/dev/ca.crt


#database:
#  type: cockroachdb
#  host: '127.0.0.1'
#  username: image-server
#  database: image-server
#  ssl:
#    rejectUnauthorized: false
#    ca:
#      path: ./config/certs/ca.crt
#    key:
#      path: ./config/certs/tls.key
#    cert:
#      path: ./config/certs/tls.crt

naming:
  type: named
  path: '##id##_##preset_alias##.##ext##'

storage:
  data: ./example-data/data

caching:
  memory:
    enabled: true
    caches:
      resolve_path:
        ttl: 60000
      image_data:
        ttl: Infinity
  client:
    enabled: true
    options:
      max_age: 300000
      s_max_age: 3600000
